
.main-container {
    background-color: #f4f5f8;
    width: 90vw;
    height: 90vh;
    display: flex;
    border-radius: 2rem;
}

.sidebar-container {
  flex: 0.3;
}

.workArea-container {
  flex: 0.7;
}